# Biblioteca pandas
La biblioteca pandas permite la manipulación de tablas de datos. Tiene dos estructuras fundamentales:
- DataFrame.
- Series.

La documentación oficial puede se consultada en https://pandas.pydata.org/
Para importar la biblioteca usualmente se utiliza:

import pandas as pd.

In [2]:
#Importando pandas con el alias pd
import pandas as pd

## DataFrame
Un DataFrame es básicamente una tabla. Contiene un arreglo de valores individuales (entradas), se puede pensar en ella
como una matriz.

In [3]:
pd.DataFrame({'Sí':[2,3], 'No':[50,15]} )

   Sí  No
0   2  50
1   3  15

In [4]:
pd.DataFrame({'Rodrigo':['Barcelona', 'Real Madrid'], 'Eva':['Napoli', 'PSG']})

       Rodrigo     Eva
0    Barcelona  Napoli
1  Real Madrid     PSG

In [5]:
pd.DataFrame({'Rodrigo':['Barcelona', 'Real Madrid'], 'Eva':['Napoli', 'PSG']}, index=['Quiniela 1', 'Quiniela 2'])

                Rodrigo     Eva
Quiniela 1    Barcelona  Napoli
Quiniela 2  Real Madrid     PSG

## Series
Se puede pensar en una serie como en una lista.

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Una series es, en esencia, una sola columna de un DataFrame.

In [7]:
pd.Series([30, 35, 40], index=['2015', '2016', '2017'], name='Año')

2015    30
2016    35
2017    40
Name: Año, dtype: int64